<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bulma and Shiny</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.css">
        <script> 
            MathJax = {tex:{inlineMath:[['$', '$'], ['\\(', '\\)']]}};
        </script>
        <style>
        .recalculating { opacity: 1.0 !important; }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>
        {{headContent()}}
    </head>
    <body>
          <section class="section">
            <div class="container">
                <div class="content">                
                    <h1>Params:</h1>
                    <label> Num </label>
                    <input id="num" 
                    name="num" 
                    type="number" 
                    value="500" min="1" max="1000" />

                    {{
                        tagList(
                              textAreaInput("question", label="question", value="wee"),
                              actionButton("click", "Click me!")
                        )
                    }}

                    <h1>Document Preview:</h1>
                        <div id="doc_out" class="shiny-html-output">
                        </div>
                    <h1>Params:</h1>
                    <span id="num_out" class="shiny-text-output"></span>
                </div>
            </div>
          </section>
    </body>
</html>
